.supermarket {
    max-width: 700px;
    margin: auto;
}

.supermarket-input-container{
    display: flex;
    padding: 16px 0 16px 0;
}

.supermarket-input-container div{
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
}

.selector-container{
    display:flex;
    align-items: right;
    justify-content:right;
    padding-bottom: 4px;
}
.supermarket label{
    margin-right: 16px;
}

.enabled{
    background-color: rgba(0,255,0,0.3);
}

.modal-form label{
    margin-right: 10px;
    width: 80px;
}

.form-row {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}

.form-row input{
    height: 24px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 4px;
}

.on {
    color: blue;
}

.off {
    color: grey;
}

button:hover{
    cursor: pointer;
}

.table-info{
    padding: 4px;
    font-size: 12px;
    margin-top: 4px;
    font-family: Verdana, sans-serif;
    color: rgba(50,50,50,1);
}

.chip {
    margin: 0 4px 0 4px;
    background-color: #A3C3D9;
    border-radius: 4px;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    padding: 4px;
}

.chip-selected {
    margin: 0 4px 0 4px;
    border-radius: 4px;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    padding: 4px;
    background-color: #AE76A6;
}

.chip:hover {
    cursor: pointer;
    border: 1px solid green;
    padding: 3px;
}

.chip-selected:hover {
    cursor: pointer;
    border: 1px solid green;
    padding: 3px;
}