.home{
    padding: 16px;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
}

.page-card{
    padding: 16px;
    border: 1px solid rgba(0,0,0,0.1);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    font-family: Verdana, sans-serif;
}