.home{
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-card{
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.1);
    min-width: 160px;
    max-width: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, sans-serif;
}

.page-card:hover{
    border: 1px solid rgba(0,0,0,0.4);
    cursor: pointer;
    color: green;
}