.home{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    padding: 8px 16px;
    display: flex;
    position: relative;
    z-index: 3;
}

.page-card{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    padding: 16px;
    text-transform: uppercase;
}

.page-card:not(:last-of-type) {
    border-right: 1px solid rgba(0,0,0,0.2);
}

.page-card:hover{
    cursor: pointer;
    color: rgb(122,130,150);
}

.icon-container{
    transform: scale(0.4);
    border: 1px solid #CCD6EB;
}

.toggle-menu-collapsed {
    display: none;
    animation-name: slideIn;
    animation-duration: 10s;
}

@media screen and (max-width: 768px) {
    .home {
        background-color: rgba(0,0,0,0.9);
        flex-direction: column;
        width: 75%;
        animation-name: slideIn;
        border-radius: 0 3px 3px 0;
        position: fixed;
        padding: 0;
    }

    .home.collapsed {
        display: none;
    }

    .toggle-menu-collapsed {
        display: block;
        padding: 4px;
        border: 1px solid black;
        width: 24px;
        margin: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        background-color: rgba(0,0,0,0.8);
        color: white;
        animation-name: slideIn;
        animation-duration: 10s;
    }

    .toggle-menu-collapsed:hover {
        cursor: pointer;
    }

    .page-card {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        justify-content: left;
        color: white;
        text-transform: none;
    }

    .page-card:hover{
        cursor: pointer;
        background-color: rgba(0,0,0,0.4);
    }
}

 @keyframes slideIn {
    from {background-color: red;}
    to {background-color: blue;}
}