.navigator {
  width: 100vw;
  padding: 10px;
  overflow: auto;
  display: inline-block;
  white-space: nowrap;
}

.navigator-option {
  width: 104px;
  height: 48px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  font-weight: 200;
}

.navigator-option:hover {
  cursor: pointer;
  width: 104px;
  height: 48px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  font-weight: 200;
}

.navigator-option-selected {
  width: 104px;
  height: 48px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  font-weight: 200;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
}
