h1 {
  text-align: center;
  font-family: Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 200;
  padding: 3px;
}

h2 {
  text-align: center;
  font-family: Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 200;
  padding: 3px;
}

img {
  width: 100%;
  opacity: 0.5;
}



.container {
  padding: 10px;
  background: rgba(0, 255, 0, 0.2);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Verdana, sans-serif;
}

.footer {
  font-size: 8px;
}
