.plant {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-top: 16px;
}

.plant:hover{
    cursor: pointer;
    border: 1px solid rgba(0,0,0,1);
}

.latin {
    font-family: Verdana, sans-serif;
    font-style: italic;
    font-size: 12px;
}